*{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_div{
    height: 50vh;
    padding: 1em;
    width: 40vw;
}

.div_form{
    background-color: rgb(235, 241, 255);
    display: flex;
    flex-direction: column;
    max-height: fit-content;

    h2{
        align-self: center;
        color: rgb(34, 33, 33);
    }

    form > .div_input{
        display: flex;
        flex-direction: column;
        

        label{
            margin-top: 1em;
            font-size: 1.2em;
            font-weight: 500;
            margin-left: 0.5em;

        }
        a{
            align-self: center;
            text-decoration: none;
            color: rgb(0, 109, 205);
            font-size: 1.05;
        }

        input{
            padding: 0.4em;
            padding-left: 0.8em;
            font-size: 1.1em;
            width: 90%;
            border-radius: 1em;
            border: none;
            outline: none;
        }
    }

    form > .div_button{
        display: flex;
        justify-content: space-around;
        margin-top: 3em;

        button{
            padding: 0.5em;
            width: 8em;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;
            font-size: 1.01em;
            font-weight: 600;
            background-color: rgb(218, 218, 218);
            transition: background-color ease 0.5s;
            &:hover{
                background-color: rgb(192, 192, 192);
            }
        }

        .reset{
        }
    }
}

.div_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.image{
    object-fit: contain;
    border-radius: 1em;
    height: 90%;
    width: 100%;

    animation: enter ease-in-out 2s forwards;
}

@keyframes enter {
    from{
        opacity: 0;
        transform: translateY(2em) scale(0.9);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .div_image{
        display: none;
    }
    .div_form{
        width: 80vw;
        height: fit-content;
        .div_button{
            gap: 0.5em;
        }
    }
}